//- -----------------------------------------------------------------------------
//- This file contains all markup related to the head tag of the site/application.
//- -----------------------------------------------------------------------------

//- Returns a head tag for each page with appropriate
//- title tag, meta tags, link tags, etc.
//- @param {Object} globalHeadProps - image path
//- @param {Object} localHeadProps - text for the alt attribute
mixin head(globalHeadProps, localHeadProps)
  -
    //- head properties that will change from webpage to webpage.
    //- In order to be usable, they need to be instantiated on the page that implements them.
    const {
      //- Title for title tag
      //- @type string
      //- @required
      title,

      //- description used for meta, twitter, facebook
      //- @type string
      //- @required
      description,

      //- keywords for metatag 
      //- @type string
      //- @required
      keywords,

      //- all the relative paths to your stylesheets
      //- @type Array(string)
      stylesheetPaths,
      
    } = localHeadProps;

  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    if title
      title #{title}
    else
      - throw 'Title (required) has not been provided.'
    if description
      meta(name='description' content=description)
    else
      - throw 'Description (required) has not been provided.'
    if keywords
      meta(name='keywords' content=keywords)
    else
      - throw 'Keywords (required) has not been provided.'
    if globalHeadProps.googleAnalyticsCode
      script #{globalHeadProps.googleAnalyticsCode}
    if globalHeadProps.meta
      each metaTagContent, metaTagName in globalHeadProps.meta
        meta(name=metaTagName content=metaTagContent)
    if globalHeadProps.link
      each linkTagAttributes, linkTagRel in globalHeadProps.link
        link(rel=linkTagRel)&attributes(linkTagAttributes)
    block stylesheets
      if stylesheetPaths
        each stylesheetPath in stylesheetPaths
          link(rel='stylesheet' href=stylesheetPath)
