//-
  Variable data for head:
    * (string) title => Title for title tag
    * (boolean) setFacebookAndTwitterCards => determine if facebook and twitter cards are desired
    * (string) description => description used for meta, twitter, facebook
    * (string) keywords => keywords for metatag
    * (string, optional) author => author of the webpage
    * (string, optional) googleAnalyticsCode => google analytics javascript code 
    * (string, optional) canonicalLinkURL => URL for canonical links
    * (string, optional) webAppManifestPath => relative path to manifest.json
    * (Array(string), optional) stylesheetPaths => all the relative paths to your stylesheets
    * (string, optional) faviconPath => relative path to favicon
    * (string, optional) twitterFacebookImageURL => URL to image used for twitter/facebook cards
    * (string, optional) websiteTwitterHandle => twitter handle used for the website
    * (string, optional) contentCreatorTwitterHandle => webpage author's twitter handle
    * (string, optional) webpageURL => URL to be used by the webpage (for facebook)
    * (string, optional) facebookSiteName => the name of your site (for facebook)
mixin head(globalHeadProps, localHeadProps)
  -
    const {
      author,
      googleAnalyticsCode,
      setFacebookAndTwitterCards,
      websiteTwitterHandle,
      contentCreatorTwitterHandle,
      twitterFacebookImageURL,
      webpageURL,
      facebookSiteName,
      canonicalLinkURL,
      webAppManifestPath,
      faviconPath,
    } = globalHeadProps;
    const {
      title,
      description,
      keywords,
      stylesheetPaths,
    } = localHeadProps;
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    if title
      title #{title}
    else
      - throw "Title (required) has not been provided."
    if description
      meta(name="description" content=description)
    else
      - throw "Description (required) has not been provided."
    if keywords
      meta(name="keywords" content=keywords)
    else
      - throw "Keywords (required) has not been provided."
    if author
      meta(name="author" content=author)
    if googleAnalyticsCode
      script #{googleAnalyticsCode}
    if setFacebookAndTwitterCards
      meta(name="twitter:card" content="summary_large_image")
      if websiteTwitterHandle
        meta(name="twitter:site" content=websiteTwitterHandle)
      meta(name="twitter:title" content=title)
      meta(name="twitter:description" content=description)
      if contentCreatorTwitterHandle
        meta(name="twitter:creator" content=contentCreatorTwitterHandle)
      if twitterFacebookImageURL
        meta(name="twitter:image" content=twitterFacebookImageURL)
      meta(property="og:title" content=title)
      meta(property="og:description" content=description)
      meta(property="og:type" content="website")
      if webpageURL
        meta(property="og:url" content=webpageURL)
      if twitterFacebookImageURL
        meta(property="og:image" content=twitterFacebookImageURL)
      if facebookSiteName
        meta(property="og:site_name" content=facebookSiteName)
    if canonicalLinkURL
      link(rel="canonical" href=canonicalLinkURL)
    if webAppManifestPath
      link(rel="manifest" href=webAppManifestPath)
    if stylesheetPaths
      each stylesheetPath in stylesheetPaths
        link(rel="stylesheet" href=stylesheetPath)
    if faviconPath
      link(rel="shortcut icon" href=faviconPath type="image/x-icon") 
